body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    padding:  0 5px;
}
section{
    display: flex;
    margin-bottom: 100px;
    padding-top: 50px;
}
h1{
    font-size: 50px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white ;
    background-image: linear-gradient(orange, tomato, #787, #734873);
    padding: 10px 40px;
    border-radius: 5px;
}
.welcome{
    width: 50%;
    margin-left: 5%;
    padding-right: 5%;
}
img{
    width: 100%;
}

.div{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.full{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 15px 15px 30px lightgray;
    padding: 20px;
}
.developer{
    border-left: 5px solid ;
    border-image: liner-gradiant(  orange, khaki );
    border-image-slice: 1;
}
.Baby{
    border-left: 5px solid;
    border-image: linear-gradiant(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}